@use 'sass:math';

header {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;

  aspect-ratio: 375 / 538;
  background-image: url('/src/images/mobile/image-header.jpg');
  background-size: contain;
  background-repeat: no-repeat;

  @include breakpoint(desktop-only) {
    aspect-ratio: 9 / 5;
    background-image: url('/src/images/desktop/image-header.jpg');
  }

  .navbar {
    padding: 2rem 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include breakpoint(desktop-only) {
      padding: 2.5rem 2rem;
    }

    #logo {
      height: pxToRem(24px);

      @include breakpoint(desktop-only) {
        height: pxToRem(32px);
      }
    }

    #menu-mobile-container {
      #btn-menu-mobile {
        height: pxToRem(18px);
        opacity: 1;

        @include breakpoint(desktop-only) {
          display: none;
        }
      }

      #menu-mobile-checkbox {
        all: unset;
        height: 1.5rem;
        width: 1.5rem;
        position: absolute;
        z-index: 1;

        &:checked {
          ~ #btn-menu-mobile {
            opacity: 0.5;
          }
          ~ #menu-mobile {
            display: flex;
          }
        }
      }

      #menu-mobile {
        display: none;
        background-color: $white;
        position: absolute;
        top: 7rem;
        left: 1.5rem;
        right: 1.5rem;
        justify-content: center;
        padding: 1.6rem;

        @include breakpoint(desktop-only) {
          display: none !important;
        }

        ul {
          display: flex;
          flex-direction: column;
          align-items: center;

          a {
            display: block;
            color: $dark-grayish-blue;
            padding: 0.5rem;
            margin: 0.5rem;
            font-size: pxToRem(20px);
          }

          .btn-contact-container {
            margin-top: 0.5rem;

            .btn-contact {
              color: $very-dark-desaturated-blue;
              padding: 1.2rem 2rem;
              font-size: pxToRem(15px);
            }
          }
        }

        #comic-bubble {
          height: 0;
          width: 0;
          position: absolute;
          top: -1.5rem;
          right: 0;
          border-right: 1.5rem solid $white;
          border-top: 1.5rem solid transparent;
        }
      }
    }

    #menu-desktop {
      display: none;

      @include breakpoint(desktop-only) {
        display: block;
      }

      ul {
        display: flex;
        align-items: baseline;

        li {
          a {
            color: $white;
            opacity: 0.9;
            padding: 1rem 1.5rem;

            &:hover {
              color: $very-dark-desaturated-blue;
            }
          }
        }

        .btn-contact-container {
          padding-left: 1.5rem;

          .btn-contact {
            opacity: 1;
            background-color: $white;
            color: $very-dark-desaturated-blue;

            &:hover {
              background-color: rgba($white, 0.25);
              color: $white;
            }
          }
        }
      }
    }
  }

  h1 {
    padding: 4rem 2rem 2.7rem;
    text-transform: uppercase;
    color: $white;
    font-size: pxToRem(40px);
    font-family: 'Fraunces', serif;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.4rem;

    @include breakpoint(desktop-only) {
      padding: 5.5rem 2rem;
      font-size: pxToRem(55px);
      letter-spacing: 0.6rem;
    }
  }
}
