#section-2 {
  @include breakpoint(desktop-only) {
    display: flex;
  }

  > * {
    display: flex;
    text-align: center;
    aspect-ratio: 5 / 8;
    background-size: contain;
    background-repeat: no-repeat;

    @include breakpoint(desktop-only) {
      aspect-ratio: 6 / 5;
      width: 50%;
    }
  }

  .text-container {
    margin-top: auto;
    padding: 3rem 1rem;

    @include breakpoint(desktop-only) {
      padding: 4rem 11.5rem;
    }
  }

  h2 {
    padding-bottom: 2rem;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: pxToRem(28px);
    opacity: 0.6;
  }

  p {
    line-height: 1.5;
    font-size: pxToRem(16px);
    opacity: 0.6;

    @include breakpoint(desktop-only) {
      line-height: 1.5;
      font-size: pxToRem(16px);
    }
  }

  #graphic-design {
    background-image: url('/src/images/mobile/image-graphic-design.jpg');
    @include breakpoint(desktop-only) {
      background-image: url('/src/images/desktop/image-graphic-design.jpg');
    }
  }

  #photography {
    background-image: url('/src/images/mobile/image-photography.jpg');
    @include breakpoint(desktop-only) {
      background-image: url('/src/images/desktop/image-photography.jpg');
    }
  }
}
